body{
font-family:Arial;
background:#f3f3f3;
padding:20px;
}

.container{
max-width:1000px;
margin:auto;
}

input,
textarea,
select{
width:100%;
padding:10px;
margin:5px 0;
border:1px solid #ccc;
border-radius:5px;
}

button{
padding:10px 20px;
background:#006400;
color:white;
border:none;
cursor:pointer;
margin:5px;
}

.card{
background:white;
border:2px solid green;
margin-top:20px;
}

.header{
background:#006400;
color:white;
display:flex;
justify-content:space-between;
padding:10px;
align-items:center;
}

.logoBox{
display:flex;
align-items:center;
gap:10px;
}

.logoBox img{
height:60px;
}

.frontBody{
display:flex;
padding:20px;
}

.photo{
width:160px;
height:200px;
border:1px solid black;
object-fit:cover;
}

.info{
padding-left:20px;
}

.highlight{
border:2px solid green;
padding:10px;
margin-top:10px;
}

.footer{
background:#006400;
color:white;
padding:10px;
}

.backHeader{
background:#006400;
color:white;
padding:10px;
font-weight:bold;
}

.backBody{
padding:20px;
}

.bottomRow{
display:flex;
justify-content:space-between;
margin-top:20px;
}

#qrcode{
padding:10px;
border:1px solid #ccc;
}

.note{
width:60%;
}
